/* Palette */

/* Main text color #212121 */

/* Alternate text color #000000 */

/* Accent color #2196F3 */

/* Accent alternate color #188CE8 */

/* Communication text #757575 */

/* Communication text alternate #FFFFFF 60% */

/* Background darken #2F303A */

/* Background lighten #F5F4FA */

/* Background hero #C4C4C4 */

/* Element white color #FFFFFF */

/* Header line #ECECEC */

/* Portfolio container border #EEEEEE */

/* Logo color #AFB1B8 */

/* Backdrop background rgba(0, 0, 0, 0.2) */

:root {
  --main-text-color: #212121;
  --alternate-text-color: #000000;
  --accent-color: #2196f3;
  --accent-alternate-color: #188ce8;
  --communication-text-color: #757575;
  --communication-text-alternate: #ffffff96;
  --background-darken-color: #2f303a;
  --background-lighten-color: #f5f4fa;
  --background-hero: #c4c4c4;
  --element-white-color: #ffffff;
  --header-line-color: #ececec;
  --card-border-color: #eeeeee;
  --card-set-gap: 30px;
  --logo-color: #afb1b8;
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --transition-variable: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--element-white-color);
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-headline {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header section */

header > .container {
  display: flex;
  align-items: center;
}
.header-section {
  border-bottom: 1px solid var(--header-line-color);
}
.header-section .logo {
  padding: 24px 0 25px;
}
.logo {
  width: 145px;

  display: block;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
}
.header-logo {
  color: var(--alternate-text-color);
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-link {
  padding: 32px 0;

  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-variable);
}
.link-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header-contact {
  display: flex;
  align-items: center;

  padding: 32px 0;

  color: var(--communication-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-variable);
}
.contact-item:first-child {
  margin-right: 50px;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.icon {
  fill: currentColor;
}
.contacts-list .icon {
  margin-right: 10px;
  fill: currentColor;
}
.link-list {
  display: flex;
  margin-left: 93px;
}
.contacts-list {
  display: flex;
  margin-left: auto;
}

/* Main section */
/* Hero section */

.hero-section {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-picture.jpg);
  background-color: var(--background-hero);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--element-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.primary-btn {
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--element-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-width: 0px;
  cursor: pointer;
  transition: background-color var(--transition-variable),
    color var(--transition-variable);
}
.primary-btn:hover,
.primary-btn:focus,
.primary-btn:active {
  color: var(--element-white-color);
  background-color: var(--accent-alternate-color);
}
/* Features section */

.features-section {
  padding: 94px 0 0;
}
.features {
  display: flex;
}
.features .feature-item + .feature-item {
  margin-left: 30px;
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-lighten-color);
}
.feature-title {
  margin-bottom: 10px;

  width: 270px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}
.feature-description {
  width: 270px;

  color: var(--communication-text-color);
  line-height: 1.71;
}
/* Capabilities section */

.capabilities {
  padding: 94px 0;
}
.capabilities-list {
  display: flex;
}
.capabilities-list .capability-item + .capability-item {
  margin-left: 30px;
}
.capability-item {
  position: relative;
}
.capability-box {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}
.capability-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--element-white-color);
}
/* Team section */

.team-content {
  background-color: var(--background-lighten-color);
  padding: 94px 0;
}

.staff-list {
  display: flex;
}
.staff-list > .staff-card {
  width: 270px;

  color: var(--element-white-color);
  background-color: var(--element-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.staff-list .staff-card + .staff-card {
  margin-left: 30px;
}
.staff-desc {
  padding: 30px 32px;
}
.staff-name {
  margin-bottom: 10px;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.staff-profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--communication-text-color);
}
/* Social icons */
.social-links {
  display: flex;
  justify-content: center;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--transition-variable);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  display: inline-flex;
  fill: var(--logo-color);
  transition: fill var(--transition-variable);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--element-white-color);
}

/* Clients section */

.clients-section {
  padding: 94px 0;
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-item {
  display: flex;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 90px;

  border: 1px solid var(--logo-color);
  border-radius: 4px;
  color: var(--logo-color);
  transition: border-color var(--transition-variable),
    color var(--transition-variable);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client-icon {
  fill: currentColor;
}
/* Portfolio */

.portfolio {
  padding: 94px 0;
}
.filter-btn-list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}
.filter-btn-list .list-btn-item + .list-btn-item {
  margin-left: 8px;
}
.filter-btn {
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;

  background-color: var(--background-lighten-color);
  color: var(--main-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: background-color var(--transition-variable),
    color var(--transition-variable), box-shadow var(--transition-variable);
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--element-white-color);
}
.portfolio-set {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-set > .card-content {
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.portfolio-set > .card-content:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}
.portfolio-set > .card-content:not(:nth-child(3n)) {
  margin-right: 30px;
}
.card-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-variable);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0);
  opacity: 1;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--transition-variable),
    opacity var(--transition-variable);

  background-color: rgba(33, 150, 243, 0.9);
}
.card-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--element-white-color);
}
.card-description {
  padding: 20px 24px;

  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}
.card-title {
  margin-bottom: 4px;

  color: var(--main-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-filter {
  color: var(--communication-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* Footer */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-darken-color);
}
.adds {
  margin-top: 20px;
}
.location {
  font-style: normal;
  color: var(--element-white-color);
  line-height: 1.71;
}
.footer-list {
  margin-top: 9px;
}
.footer-list > li:last-child {
  margin-top: 9px;
}
.footer-contact {
  font-style: normal;
  text-decoration: none;
  color: var(--communication-text-alternate);
  line-height: 1.71;
  transition: color var(--transition-variable);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.footer-logo {
  color: var(--element-white-color);
}
.footer-logo:active {
  color: var(--alternate-text-color);
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer-socials {
  margin-left: 70px;
}
.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--element-white-color);
}
.footer-social-links {
  display: flex;
}
.footer.social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer.social-link:hover,
.footer.social-link:focus {
  background-color: var(--accent-color);
}
.footer.social-icon {
  fill: var(--element-white-color);
}
/* Footer supscription */

.footer-subscription {
  margin-left: 93px;
}
.subscription-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--element-white-color);
}
.subscription-form {
  display: flex;
}
.email-field {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  color: var(--element-white-color);
  background-color: var(--background-darken-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--transition-variable);
  outline: none;
}
.email-field:required:valid {
  border-color: var(--accent-color);
}
.submit-button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  border-radius: 4px;
  border: 0;
  margin-left: 12px;
  padding: 10px 28px;

  background-color: var(--accent-color);
  color: var(--element-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--transition-variable);
}
.submit-button:hover,
.submit-button:focus,
.submit-button:active {
  background-color: var(--accent-alternate-color);
}
.icon-send {
  margin-left: 10px;
}
/* Backdrop window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-variable),
    opacity var(--transition-variable);
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: inherit;
  transform: rotate(-180deg) scale(0.4);
}
/* Modal */

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--element-white-color);
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: var(--element-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow var(--transition-variable),
    fill var(--transition-variable);
}
.btn-close:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  fill: var(--accent-color);
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.comment-area {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color var(--transition-variable);
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--communication-text-color);
}
.form-box:focus-within .form-field,
.form-box:focus-within .comment-area {
  border-color: var(--accent-color);
}
.form-box:focus-within .form-icon {
  fill: var(--accent-color);
}
.form-field {
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-variable);
}

.form-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill var(--transition-variable);
}
.agree-text {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--communication-text-color);
}
.agree-text:hover {
  cursor: pointer;
}
.policy-link {
  color: var(--accent-color);
}
.check-icon {
  margin-right: 7px;
}
.modal-submit {
  margin-right: auto;
  margin-left: auto;
}
.check-mark {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  transition: filter var(--transition-variable),
    border-color var(--transition-variable),
    background-image var(--transition-variable);
}
.checkbox:checked + .check-mark {
  border-color: var(--accent-color);
  background-image: url(../images/icon-check-mark.svg);
  background-origin: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
